<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    {% block content %}
      {% if error %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
      {% endif %}
    <div class="container">
      <h1>Login</h1>
      <form class="" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        Username:<br>
        <input type="text" name="username" value=""><br>
        Password:<br>
        <input type="password" name="password" value=""><br><br>
        <input class="btn btn-primary" type="submit" name="signup" value="Signup">
      </form>
    </div>
    {% endblock %}
  </body>
</html>
